[run]
source = '.'
omit =
    */migrations/*
    */tests/*
    manage.py
    asgi.py
    wsgi.py
    */settings.py
    */__init__.py

[report]
omit =
    */migrations/*
    */tests/*
    manage.py
    asgi.py
    wsgi.py
    */settings.py
    */__init__.py